*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.container{
    background-color: white;
    margin: 20px;
    margin-top: 50px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: row;

    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

.container .left-side-box{
    width: 60%;  
    border-right: none;     
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .left-side-box .description{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .left-side-box .description button{
    width: 80px;
    height: 20px;
}

.container .right-side-box{
    width: 40%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0794a6, #9bae07);     
}
.container .right-side-box .content{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .right-side-box .content h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    opacity: .5;
}

.container .right-side-box .buttons{
    padding: 10px;
    text-align: justify;
}

.container .right-side-box .buttons{
    height: 35%;
    width: 100%;
}
.container .right-side-box .buttons .right-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
button{
    width: 20%;
    height: 10px;
}
button:hover{
    cursor: pointer;
}


.container .left-side-box .img-box{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .left-side-box .img-box #img{
    width: 90%;
    height: 70%;
    background-color: crimson;
    transition: .4s;
}



@media only screen and (max-width: 750px){
    .container{
        flex-direction: column-reverse;
        height: 500px;

    }
    .container .left-side-box{
        width: 100%;
        height: 60%;

    }
    .container .right-side-box{
        width: 100%;
        height: 40%;
    }
    .container .right-side-box .buttons .right-buttons{
        margin-top: 20px;
    }
    .container .right-side-box .buttons {
        text-align: center;
    }
}
@media only screen and (max-width: 405px){
    .container .right-side-box .buttons .right-buttons{
        margin-top: 5px;
    }
}