*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.container{
    margin: 20px;
    margin-top: 50px;
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: row;

    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

.container .left-side-box{
    width: 60%;  
    border-right: none;     
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .right-side-box{
    width: 40%;
    display: flex;
    flex-direction: column;     
}
.container .right-side-box .content{
    height: 65%;
    width: 100%;
    background-color: black;
}
.container .right-side-box .buttons{
    padding: 10px;
    text-align: justify;
}

.container .right-side-box .buttons{
    height: 35%;
    width: 100%;
    background-color: orange;
}
.container .right-side-box .buttons .right-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.container .right-side-box .buttons .right-buttons button{
    width: 20%;
    height: 10px;
}
.container .right-side-box .buttons .right-buttons button:hover{
    cursor: pointer;
}


.container .left-side-box .img-box{
    width: 100%;
    height: 80%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .left-side-box .img-box .img{
    width: 90%;
    height: 70%;
    background-color: red;
}
.container .left-side-box .description{
    margin-top: 10px;
}


@media only screen and (max-width: 750px){
    .container{
        flex-direction: column;
    }
    .container .left-side-box{
        width: 100%;
        height: 70%;

    }
    .container .right-side-box{
        width: 100%;
        height: 30%;
    }
}