.board{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 400px;
}
h1 {
    margin-left: 40%;
}
.square{
    width: 100px;
    height: 100px;
}
.square:hover{
    cursor: pointer;
}
